{{! Index file }}
{{!< default}}

<header class="main-header">
  <div class="wrap">
    <h1 class="blog-title">
      <a class="blog-title-link" href="#">{{@blog.title}}</a>
    </h1>
  </div>
</header>

{{#foreach posts}}
{{! Posts }}
{{/foreach}}
